@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #ccc;
}

html::-webkit-scrollbar-thumb {
  background: #4070f4;
  border-radius: 5rem;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #000;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color: #000;
  border: 0.2rem solid #000;
  background: no-repeat;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  color: #fff;
  background: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 2px solid rgba(1, 1, 1, 0.1);
}

.header .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
}

.header .icons:hover {
  color: #4070f4;
}

.header #menu-btn {
  display: none;
}

.header .navbar a {
  color: #000;
  font-size: 2rem;
  margin: 0 2rem;
}

.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #4070f4;
}

.header .navbar .space {
  display: inline-block;
  width: 16rem;
}

.header .logo {
  position: absolute;
  top: 3rem;
  left: 48.5%;
  transform: translateX(-50%);
}

.header .logo img {
  width: 15rem;
}

.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  background: #ccc;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #000;
}

.header .fa-times {
  transform: rotate(180deg);
}

.home {
  margin-top: 7rem;
  background: url(../images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 70rem;
  text-align: center;
  margin: 0 auto;
}

.home .content img {
  width: 100%;
}

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #000;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #707070;
  padding: 2rem 0;
}

.service {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.service .box {
  text-align: center;
  padding: 2rem;
}

.service .box i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 2.5rem;
  color: #fff;
  background: #4070f4;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.service .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.service .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #707070;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.menu .box-container .box {
  text-align: center;
}

.menu .box-container .box:hover img {
  transform: translateY(1rem);
}

.menu .box-container .box img {
  height: 25rem;
}

.menu .box-container .box .content {
  padding: 1rem 0;
}

.menu .box-container .box .content .stars {
  margin-bottom: 2rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}

.menu .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
  line-height: 2;
  color: #707070;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 40rem;
}

.about .content .title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #000;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #707070;
  padding: 2rem 0;
}

.about .content .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.about .content .icons h3 {
  flex: 1 1 16rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
}

.about .content .icons h3 i {
  padding-right: 0.5rem;
  color: #4070f4;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 2rem;
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.reviews .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #707070;
  padding: 1rem 0;
}

.reviews .box-container .box .stars {
  padding-top: 0.5rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: #eacf4f;
}

.contact .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  flex: 1 1 40rem;
  width: 100%;
}

.contact .row .form {
  flex: 1 1 40rem;
}

.contact .row .form .icons-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact .row .form .icons-container .icons {
  flex: 1 1 17rem;
  text-align: center;
}

.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #4070f4;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .row .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.contact .row .form .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #707070;
}

.contact .row .form form {
  text-align: center;
}

.contact .row .form form .box {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #000;
  background: none;
  border: 0.2rem solid rgba(1, 1, 1, 0.1);
  text-transform: none;
  width: 100%;
  margin: 0.7rem 0;
}

.contact .row .form form .box:focus {
  border-color: #4070f4;
}

.contact .row .form form textarea {
  height: 15rem;
  resize: none;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  position: relative;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
}

.blogs .box-container .box:hover .image .icons {
  transform: translateY(0);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.blogs .box-container .box .image .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateY(10rem);
}

.blogs .box-container .box .image .icons a {
  font-size: 1.5rem;
  color: #000;
}

.blogs .box-container .box .image .icons a i {
  padding-right: 0.5rem;
  color: #4070f4;
}

.blogs .box-container .box .image .icons a:hover {
  color: #4070f4;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box .content {
  text-align: center;
  padding: 2rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #707070;
  padding: 1.5rem 0;
}

.footer {
  text-align: center;
  background: linear-gradient(transparent, #707070);
}

.footer .links a {
  margin: 1rem;
}

.footer .credit {
  font-size: 2rem;
  line-height: 2;
  color: #000;
  padding-top: 2rem;
}

.footer .credit span {
  color: #4070f4;
}

@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    justify-content: flex-end;
    gap: 2rem;
  }
  .header .logo {
    transform: translateX(0);
    left: 3rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
  }
  .header .navbar .space {
    display: none;
  }
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
